<h1 id="titulo-cardapio">Cardápio</h1>

<div>
    <div class="card">
        <h1 id="titulo">Burguer</h1>
        <picture>
            <img [src]="burguer">
        </picture>
        <p id="descricao">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro laboriosam ea nesciunt eius modi quis eaque numquam, id minus aliquid, perferendis sapiente praesentium quaerat quos vero error suscipit tempora.
        </p>
        <div class="card-bottom">
            <button>Comprar</button>
            <h2 id="preco">R$ 25,00</h2>
        </div>
    </div>
</div>